.button {
  background:orange;
  border: 1px solid red;
  color: white;
  font-weight: normal;
  font-size: medium;
}

.light{
  opacity: 0.3;
}

.dark{
  opacity: 1.0;
}

.button:active {
  background-color: orange;
  border: 1px solid orange;
}

.light_blue_bg{
  background: #7FA4AA;
  color: black;
}
.splash_bg{
	border-radius: 2px;
	background: #7FA4AA;
}

.window-frame {
	border-radius: 7px 7px 0 0;
}
.splash_diag{
	border-radius: 2px;
}
.winning_piece{
	border: 3px solid red;
	background: red;
	color: white;
	font-weight:bold;
	font-size:large;
}
